*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}                    /*Un font più brutto non potevate trovarlo hahaha*/

.menu {
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 1001;
}


.button {
    list-style: none;
    text-align: center;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
}

.box {
    height: 100vh;
    position: relative;
    text-align: center;
}

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
}

.red {
    background-color: red;
    color: yellow;
}

.green {
    background-color: green;
    color: yellow;
}

.yellow {
    background-color: yellow;
    color: green;
}